*{
    padding: 0%;
    margin:0%;
    font-family: Verdana ;
}

header{
   width:100%;
   height:90vh;
   background-image: url(../image/joy.jpg);
   background-size: cover;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #0005;
    line-height: 80px;
}

nav>ul{
    float: right;
    margin-right: 30px;
}

nav>ul>li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}

nav>ul>li:hover{
    background-color: #f39d1a;
}

nav>ul>li>a {
    text-decoration: none;
    color: #fff;
    padding: 30px;
}

.content{
    text-align: center;
    font-size:x-large;
    margin-top: 100px;
    font-weight: 500;
    color: rgb(9, 59, 53);
    font-style:italic ;
}

.content button{
    font-size: medium;
    color: #fff;
    background-color: #32c91e;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all;

}

.content button:hover{
    background-color: #25660c;
}

.services{
    text-align: center;
    font-size:large;
    margin-top: 100px;
    font-weight: 600;
    color:#1b0336;
}

.row {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: #fff;

}

.products{
    margin-top: 30px;
    color: #0e180a;
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 30px; 
    align-items: center;
   
}

.col-2 {
    margin-top: 20px;
    background: #5550a7;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,,0.3);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 270px;
    display: flex;
    margin-left: 40px;
}

.container{
    margin-top: 40px;
    color: rgb(30, 62, 99);
    justify-content: center;

}

.icons{
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
    color: #03151a63;
    font-size: medium;
}

.content1{
    margin: 20px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background: #da3d16;
}

.portfolio{
    margin: 40px;
    text-align: center;
}

.col-4{
    margin: 20px;
    margin-top: 20px;
    display: inline-flex;
    justify-content: space-between;
}